body {
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: $background;
    width: 300px;
    margin: 0 auto;
    color: white;
    font-size: 11px;

}
/* Style the tab */
div.tab {
overflow: hidden;
background-color: black;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    transition: 0.3s;
    font-size: 11px;
    color: blue;
}

/* Change background color of buttons on hover */
div.tab button:visited {
    background-color: $background;

}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: $background;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 12px 12px;
    border-top: none;

}

.tabcontent.active {
    display: block;
}

.poz {
    margin-left: 62px;
}

.parovi,
.izabrano {
    .row:last-child {
        border-bottom: none;
    }
}

.row {
    padding: 7px 5px;
    margin: 0 3px;
    border-bottom: 1px solid $border-c;
    .opis{
        padding-top: 5px;
    }
    .color-blue {
        color: $color-blue;
    }
    input {
        width: 100px;
        font-size: 11px;
    }
}

.group:after {
    content: "";
    display: table;
    clear: both;
}
.kvota {
    text-align: right;
    float: right;
}
.color-k {
    color: yellow;
}

.size {
    font-size: 13px;
}

.uplati-tiket {
    border: 1px solid $border-c;
    background-color: $background-t;

}

.izabrano {
    background-color: $background;
    margin: 0 3px;
    .poz-i {
        margin-top: 3px;
    }
}
.dobitak {
    padding: 0 3px;
    padding-bottom: 3px;
    .row {
        border-bottom: 1px solid $border-c-1;
        &.row:last-child {
            border-bottom: 0;
        }
    }

    button {
        width: 100%;
        background-color: blue;
        color: white;
        border: none;
        border-style: none;
        margin: 0 0 3px 0;
        text-transform: uppercase;
        padding: 10px;
    }
}
